<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../comecar.css">
    <title>Começar</title>
</head>
<body>
    <form action="" class="go">
        <div class="box">
            <fieldset>
                <div class="iconPerson">ICONE</div>
            </fieldset>
            <div class="nick">
                <label for="text" class="labelInput">NOME</label>
                <input type="text" name="nick" class="imputUser" id="nick" placeholder="APELIDO" required>
            </div>
            <div class="sala">
                <label for="text" class="labelInput">SALA</label>
                <input type="text" name="sala" class="imputUser" id="sala" placeholder="ID DA SALA" required>
            </div>
            <div class="jogar">
                <input class="btn-jogar" type="submit" name="submit" id="submit" value="JOGAR"></div>
            </div>
    </form>
</body>
</html>