<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pergunta.css">
    <title>Perguntas</title>
</head>
<body>
    <div class="container">
        <form action="">
            <div class="casa" >01</div>
            <fieldset class="title">
                <legend>
                    <h1>
                        Titulo
                    </h1>
                    <h3>
                        Dificuldade
                    </h3>
                </legend>
            <div class="enuciado">
                <label for="" type="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, numquam cupiditate quis commodi illo dolores sint quod, suscipit soluta ea velit exercitationem ratione accusamus sed vero dolorem eveniet corrupti neque?
                </label>
            </div>
        </fieldset>
            <div class="respostas">
                <div class="alternativas" id="a">
                    <div class="circulo">A</div>
                    <label class="resp" for="" type="text">Resposta A</label>
                </div>
                <div class="alternativas" id="b">
                    <div class="circulo">B</div>
                    <label class="resp" for="" type="text">Resposta B</label>
                </div>
                <div class="alternativas" id="c">
                    <div class="circulo">C</div>
                    <label class="resp" for="" type="text">Resposta C</label>
                </div>
                <div class="alternativas" id="d">
                    <div class="circulo">D</div>
                    <label class="resp" for="" type="text">Resposta D</label>
                </div>
            </div>
            <input class="btn-resp" type="submit" value="RESPONDER">
        </form>
    </div>
</body>
</html>